<div *ngFor="let order of orders">
    <mat-card>
        <mat-card-title>
            {{order.payload.val().dish}}
        </mat-card-title>
        <mat-card-content>
            <div>price: {{order.payload.val().price}}</div>
            <div>status: {{orderStatus[order.payload.val().status]}}</div>
            <button *ngIf="order.payload.val().status == 0" mat-raised-button color="warn" (click)="cancelOrder(order)">
                Cancel
            </button>
        </mat-card-content>
    </mat-card>
</div>

<button mat-raised-button color="accent" (click)="billTable()">
    Call for billing
</button>