.head {
    display: flex;
    font-size: 20px;
    margin-bottom: 4px;
}

.detail {
    display: flex;
    font-size: 14px;
    margin-bottom: 4px;
    word-break: break-all;
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mat-card {
    padding: 8px 8px 8px 16px;
    margin-bottom: 1px;
}