<div *ngFor="let order of orderList">
    <mat-card>
        <mat-card-title>
            {{order.payload.val().table}} | {{order.payload.val().dish}}
        </mat-card-title>
        <mat-card-content>
            <div>
                {{orderStatus[order.payload.val().status]}}
            </div>
            <div *ngIf="order.payload.val().note != '-'">
                Note: {{order.payload.val().note}}
            </div>
            <button *ngIf="order.payload.val().status == 0" mat-raised-button color="primary"
                (click)="prepareOrder(order)">
                Preparing
            </button>
            <button *ngIf="order.payload.val().status == 1" mat-raised-button color="primary"
                (click)="serveOrder(order)">
                Served
            </button>
            <button mat-raised-button color="warn" (click)="cancelOrder(order)">
                Cancel
            </button>
        </mat-card-content>
    </mat-card>
</div>