<div *ngFor="let order of orderList | async">
    <mat-card *ngIf="order.payload.val().status != 2">
        <div class="head">Table {{order.payload.val().table}} | {{order.payload.val().dish}}</div>
        <div class="detail" *ngIf="order.payload.val().note != '-'">Note: {{order.payload.val().note}}</div>
        <div class="button-row">
            <button *ngIf="order.payload.val().status == 0" mat-raised-button color="primary"
                (click)="prepareOrder(order)">
                Preparing
            </button>
            <button *ngIf="order.payload.val().status == 1" mat-raised-button color="primary"
                (click)="serveOrder(order)">
                Served
            </button>
            <button mat-raised-button color="warn" (click)="cancelOrder(order)">
                Cancel
            </button>
        </div>
    </mat-card>
</div>

<div *ngFor="let order of orderList | async">
    <mat-card *ngIf="order.payload.val().status == 2">
        <div class="head">Table {{order.payload.val().table}} | {{order.payload.val().dish}}</div>
        <div class="detail" *ngIf="order.payload.val().note != '-'">Note: {{order.payload.val().note}}</div>
    </mat-card>
</div>