<div class="top-button-row">
    <button class="add-button" mat-raised-button color="accent" (click)="addDish()" routerLink="/admin/menu-form">
        Add Dish
    </button>
</div>
<mat-card *ngFor="let dish of menu">
    <div style="display: table;">
        <div class="name">{{dish.payload.val().name}}</div>
        <div class="button-row">
            <div class="flex-container">
                <button mat-mini-fab *ngIf="dish.payload.val().status == 0" color="primary"
                    (click)="editDish(dish)" routerLink="/admin/menu-form">
                    <mat-icon>create</mat-icon>
                </button>
                <button mat-mini-fab *ngIf="dish.payload.val().status == 0" color="warn"
                    (click)="deleteDish(dish.key)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button *ngIf="dish.payload.val().status == 1" mat-raised-button color="warn"
                    (click)="disableDish(dish)">
                    Disable
                </button>
            </div>
        </div>
    </div>


</mat-card>