<div *ngFor="let order of orders">
    <mat-card>
        <mat-card-title>
            {{order.payload.val().dish}}
        </mat-card-title>
        <mat-card-content>
            <div>price: {{order.payload.val().price}}</div>
            <div>note: {{order.payload.val().note}}</div>
            <div>status: {{orderStatus[order.payload.val().status]}}</div>
            <button *ngIf="order.payload.val().status != 2" mat-raised-button color="primary"
                (click)="serveOrder(order)">
                Served
            </button>
            <button mat-raised-button color="warn" (click)="cancelOrder(order)">
                Cancel
            </button>
        </mat-card-content>
    </mat-card>
</div>

<div class="add-margin" *ngIf="totalPrice$">
    <span class="total-price">
        Total: {{ totalPrice$ | async }} + 
    </span>
    <mat-form-field appearance="outline">
        <mat-label>Additional Cost</mat-label>
        <input [(ngModel)]="addPrice" matInput autocomplete="off">
    </mat-form-field>
</div>
<div class="add-margin" *ngIf="!allServed">
    Some dishes have not been served.
</div>

<button *ngIf="allServed" class="add-margin" mat-raised-button color="primary" (click)="bill()" routerLink="/manage">
    Paid
</button>
<button class="add-margin" mat-raised-button color="warn" (click)="cancelBilling()" routerLink="/manage">
    Cancel billing
</button>
