<div *ngFor="let dish of menu">
    <mat-card>
        <span class="dish-name">
            {{dish.payload.val().name}}
        </span>
        <div>
            <button mat-raised-button *ngIf="dish.payload.val().status == 0" color="primary" (click)="enableDish(dish)">
                Enable
            </button>
            <button mat-raised-button *ngIf="dish.payload.val().status == 1" color="warn" (click)="disableDish(dish)">
                Disable
            </button>
        </div>
    </mat-card>
</div>